name: Deploy .NET 9 MVC to GCP
on:
 push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up .NET 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Build project
        run: dotnet build FundacionAntivirus/FundacionAntivirus.sln --configuration Release

      - name: Publish project
        run: dotnet publish FundacionAntivirus/FundacionAntivirus.sln -c Release -o publish

      - name: Authenticate with GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up GCP Docker auth
        uses: docker/login-action@v3
        with:
          registry: gcr.io
          username: _json_key
          password: ${{ secrets.GCP_SA_KEY }}

      - name: Build and Push Docker image
        run: |
          docker build -t gcr.io/${{ secrets.GCP_PROJECT }}/miappmvc:latest .
          docker push gcr.io/${{ secrets.GCP_PROJECT }}/miappmvc:latest

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: miappmvc
          image: gcr.io/${{ secrets.GCP_PROJECT }}/miappmvc:latest
          region: us-central1
